@model CustMovMVCAppWithAuthentication.Models.Movie
@{
    ViewBag.Title = "Details1";
}


<h4>Movie Details</h4>

<h1>@Model.Name</h1>
<h3>@Model.Genre</h3>


<div>
    @Html.ActionLink("Back", "Index1", "Movies", null, new { @class = "btn btn-success" })
</div>
